body {
    font-family: Arial, Helvetica, sans-serif; margin: auto;
    }
    .login_form {
    margin-top: 10%;
    }
    .login_header{
    margin-bottom: 30px;
    font-size: 150%;
    color: #4b4b4a;
    }
    .box_header {
    margin-top: 10px;
    color: #4b4b4a;
    font-weight: lighter;
    font-size: 30px;
    }
    .credentials {
    margin-top: 40px;
    }
    input {
    margin-bottom: 15px;
    height: 38px;
    width: 230px;
    background-color:floralwhite;
    border: 0.3px solid #4b4b4a;
    color: ##4b4b4a;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    }
    :focus {
    outline: none;
    }
    :focus::placeholder {
    opacity: 0%;
    }
    ::placeholder {
    opacity: 70%;
    color: #4b4b4a;
    text-align: center;
    font-size: 19px;}
    button {
    background-color: #4b4b4a;
    color: #fff;
    font-weight:bold;
    height: 45px;
    width: 235px;
    font-size: 125%;
    margin-top: 6px;
    border-radius: 100px;
    border: 1px solid #4b4b4a;
    transition: 0.4s linear;
    }
    button:hover {
    color: #4b4b4a;
    border: 1px solid #4b4b4a;
    background-color: #fff;
    }
    form {
    color: red;
    border: 1px solid #4b4b4a;
    width: 300px;
    height: 300px;
    border-radius: 32px;
    box-shadow: 0px 0px 3px 1px #362e00;
    }
    .navigator button {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .d {
        margin-top: 40px;
    }